accelerate==0.28.0
numpy==1.26.4
opencv-python==4.9.0.80
opencv-python-headless==4.8.0.74
pandas>=2.0.0
pandas-datareader==0.10.0
matplotlib==3.8.3
ultralytics==8.1.29
torch>=2.2.1
torchaudio>=2.2.1
torchvision>=0.17.1
transformers==4.38.2
